# Data handling
pandas
numpy
tqdm

# Cheminformatics
rdkit-pypi

# Machine Learning
scikit-learn
matplotlib
seaborn

# Quantum Computing
qiskit
qiskit-aer
qiskit-machine-learning

# Optional / Future Extensions
langchain==0.1.0
